.title {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.3s ease;
}
.title.element-show {
  opacity: 1;
  transform: translateY(0);
}
.hero-section__subtitle {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.3s ease 0.3s;
}
.hero-section__subtitle.element-show {
  opacity: 1;
  transform: translateY(0);
}
.cycles-section__picture,
.roadmap-section__picture {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.cycles-section__picture.element-show,
.roadmap-section__picture.element-show {
  opacity: 1;
}
.KeyB {
}

.KeyB.element-show {
  animation: zoom 2s ease infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.sponsors-section {
  opacity: 0;
}
.sponsors-section.element-show {
  opacity: 1;
}

.animate-caption {
  transform: scale(0.7) translateY(80px);
  opacity: 0.5;
  transition: all 0.8s ease 0.2s;
}
.animate-caption.element-show {
  transform: scale(1) translateY(0);
  opacity: 1;
}
