@use 'utils' as u;

.commandl-section {
  background-color: u.$color-grey-2;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  @include u.media('tablet') {
    align-items: center;
    padding-right: 16px;
  }
  @include u.media('desktop') {
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px);
    padding-top: 140px;
    padding-bottom: 140px;
  }

  &__images {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    background: linear-gradient(180deg, #302F34 0%, #28272D 108.24%);
    box-shadow: 0px 7px 32px rgba(0, 0, 0, 0.32);
    border-radius: 16px;
    &:first-of-type {
      margin-right: 16px;
    }
  }
  &__caption {
    width: 100%;
    margin-bottom: 24px;
    text-align: left;
    @include u.media('tablet') {
      text-align: center;
    }
  }
  &__subtitle {
    text-align: left;
    @include u.media('tablet') {
      text-align: center;
    }
  }
  &__wrapper {
    margin-bottom: 42px;
    padding-right: 16px;
  }
  &__block {
    height: 269px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(from 228.06deg at 50% 55.6%, #B25F5F 0deg, #5A306E 84.17deg, #66A1E0 131.83deg, #F4BD6A 173.39deg, #EB9363 260.48deg, #D86E58 314.67deg, #B25F5F 360deg);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-top: 48px;
    padding-bottom: 24px;
    padding-left: 36px;
    @include u.media('tablet') {
      height: 626px;
      border-radius: 16px;
      padding-top: 100px;
      padding-bottom: 50px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 1600px;
      height: 1600px;
      background-image: conic-gradient(transparent, transparent,
      transparent, #d400d4);
      animation: animate 4s linear infinite;
      animation-delay: -2s;
    }
    &::before {
      content: '';
      position: absolute;
      width: 1600px;
      height: 1600px;
      background-image: conic-gradient(transparent, transparent,
      transparent, #00ccff);
      animation: animate 4s linear infinite;
    }
  }
  &__picture {
    width: 287px;
    @include u.media('phone-wide') {
      width: 400px;
    }
    @include u.media('tablet') {
      width: 700px;
    }
  }
  &__picture-wrapper {
    z-index: 1;
    position: absolute;
    inset: 4px;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(from 228.06deg at 50% 55.6%, #B25F5F 0deg, #5A306E 84.17deg, #66A1E0 131.83deg, #F4BD6A 173.39deg, #EB9363 260.48deg, #D86E58 314.67deg, #B25F5F 360deg);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-top: 48px;
    padding-bottom: 24px;
    padding-left: 36px;
    @include u.media('tablet') {
      border-radius: 16px;
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}