@use 'utils' as u;

.reviews-section {
  background: u.$color-grey-2;
  padding-top: 120px;
  padding-bottom: 120px;
  @include u.media('tablet') {
    padding-top: 140px;
    padding-bottom: 140px;   
  }

  &__caption {
    width: 100%;
    text-align: left;
    margin-bottom: 51px;
    @include u.media('tablet') {
      text-align: center;
      margin-bottom: 63px;
    }
  }
  &__list {
    margin-bottom: 40px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    max-height: 501px;
    position: relative;
    top: 50%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      height: 0;
    }

    @include u.media('desktop') {
      gap: 16px;
      max-height: 100%; 
    }
  }
  &__link {
    @include u.text(u.rem(13px), 400, u.$color-purple, 150%);
    display: flex;
    align-items: center;
    left: 211px;
    @include u.media('desktop') {
      display: none;
    }
  }
  &__icon {
    width: 8px;
    height: 8px;
    fill: u.$color-purple;
    margin-left: 6px;
  }
}