@use "utils" as u;

.sponsors-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 40px;

  &__title {
    @include u.text(u.rem(13px), 400, u.$color-grey-6, 150%);
    margin-bottom: 37px;
    @include u.media("tablet") {
      margin-bottom: 64px;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: scroll 20s linear infinite;
    gap: 12px;
  }
  &__item {
    display: flex;
  }
  &__icon {
    width: 200px;
    height: 60px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}
