@use 'utils' as u;

.tools-section {
  padding-top: 120px;
  padding-bottom: 160px;
  background-color: u.$color-grey-2;
  min-width: 0px;

  @include u.media('tablet') {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  &__caption {
    margin-bottom: 24px;
  }
  &__subtitle {
    margin-bottom: 56px;
    @include u.media('tablet') {
      margin-bottom: 64px;
    }
  }
  &__list {
    padding-left: 16px;
    overflow: hidden;
  }
  &__wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 16px;
    left: 50%;
    transform: translateX(-50%);
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-bottom: 32px;
    &::-webkit-scrollbar {
      width: 0;
    }
    @include u.media('tablet-wide') {
      gap: 24px;
      max-height: 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 0;
    }
  }
}

