// COLORS
$color-white: #fff;
$color-black: #060606;
$color-grey-1: #131315;
$color-grey-2: #1C1D1F;
$color-grey-3: #212225;
$color-grey-4: #232426;
$color-grey-5: #95A2B3;
$color-grey-6: #F7F8F8;
$color-grey-7: #D0D6E0;
$color-purple: #5C6BEB;
$color-dark-purple: #3443C3;

// FONTS
$primary-font: 'Inter', sans-serif;
$base-font-size: 10px;

// OFFSET
$mobile-container-padding-x: 16px;
